*.idea*
.idea/datascience_nanodegree.iml
.idea/misc.xml
.pyc
__pycache__
.ipynb_checkpoints
data/train
data/openai*
cache
test*
/MLOverSampler/.pytest_cache/
*.pytest_cache/
/notebooks/Language transformer using openai- Single Batch.ipynb
/notebooks/Bayes-Optimization-Demo.ipynb
/notebooks/ML Pipeline Preparation copy with all experiments.ipynb
/notebooks/multi_label_metrics.ipynb
