*.idea*
.idea/datascience_nanodegree.iml
.idea/misc.xml
.pyc
__pycache__
.ipynb_checkpoints
cache
/MLOverSampler/.pytest_cache/
*.pytest_cache/
/notebooks/Bayes-Optimization-Demo.ipynb
/notebooks/ML Pipeline Preparation copy with all experiments.ipynb
/notebooks/multi_label_metrics.ipynb
tree*
notebooks/ML Pipeline Preparation - copy with focal loss experiments.ipynb
/logs/train_classifier_best_results.log
/notebooks/Focal-Loss-Function from Avi.ipynb
data/translations/batch_job_results_old_from_20240925.jsonl
data/embeddings
