pandas==2.2.2
numpy==1.26.4
jupyter==1.0.0
nb_conda==2.2.1
nb_conda_kernels==2.5.1
sqlalchemy==2.0.29
matplotlib==3.8.4
seaborn==0.13.2
nltk==3.8.1
scikit-learn==1.5.1
plotly==5.21.0
requests==2.31.0
flask==3.0.3
openai==1.44.0
json==0.1.1
iterative-stratification==0.1.7
xgboost==2.0.3
tiktoken==0.7.0
wordcloud==1.9.3
optuna==4.0.0
nlpaug==1.1.11
joblib==1.4.0
unittest==
