pandas
numpy
jupyter
nb_conda
nb_conda_kernels
sqlalchemy
matplotlib
seaborn
nltk
scikit-learn
plotly
requests
flask
openai
json
imbalanced-learn
scikit-multilearn
iterative-stratification
xgboost
boto3
tiktoken
wordcloud
pytest
optuna
imbalanced-learn
