<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>Disasters</title>

    <link rel="icon" href="/favicons/favicon.ico" sizes="any"/>
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=M44lzPylqQ"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />

        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <hr />
                        <legend>Select Genre:</legend>
                        <div class="btn-group" role="group" aria-label="Horizontal radio toggle button group">
                            <input type="radio" class="btn-check" name="genre_input" id="news" value="News" checked>
                            <label for="news-radio1">News</label>
                            <input type="radio" class="btn-check" name="genre_input" id="direct" value="Direct">
                            <label for="direct-radio2">Direct</label>
                            <input type="radio" class="btn-check" name="genre_input" id="social" value="Social">
                            <label for="social-radio3">Social</label>
                        </div>
                    <hr />
                    <div class="col-lg-offset-5">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container-fluid center border">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
            <p class="text-center">Dataset contains 35 categories which are highly imbalanced</p>
        </div>
    {% endblock %}

    {% for id in ids %}
        <div class="chart-container-fluid ms-auto center">
            <div class="row">
                {% if id == 'graph-0' %}
                    <div class="col-md-10 col-md-offset-1">
                        <div id="{{id}}"></div>
                    </div>
                {% else %}
                    <div class="col-md-6 col-md-offset-3">
                        <div id="{{id}}"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<!--charts-->
{#Imbalanced labels#}
{#<div class="chart-container-fluid ms-auto center">#}
{#    <div class="row">#}
{#        <div class="col-md-10 col-md-offset-1">#}
{#            <div id="{{ ids[0] }}"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{## genre distribution#}
{#<div class="chart-container-fluid center">#}
{#    <div class="row mt-5">#}
{#        <div class="col-md-6 col-md-offset-3">#}
{#            <div id="{{ ids[1] }}"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#Imbalanced labels after multi-label stratified train/test split and oversampling#}
{#<div class="chart-container-fluid ms-auto center">#}
{#    <div class="page-header">#}
{#        <p class="text-center">Imbalanced labels after multi-label stratified train/test split and oversampling of minority classes</p>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-offset-1">#}
{#            <img class="img-fluid col-md-10" src="/static/assets/oversampling_results.png" alt="oversample">#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#Model training results#}
<div class="container-fluid ms-auto center">
    <div class="page-header">
        <p class="text-center">Model training results - Precision score per category</p>
    </div>
    <div class="row">
        <div class="col-md-offset-1">
            <img class="img-fluid col-md-10" src="/static/assets/model_output_results.png" alt="model">
        </div>
    </div>
</div>


<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

</body>
</html>
